@model DotnetPlayground.Models.Blog
@using DotnetPlayground.Controllers
@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@{
    ViewBag.Title = "New Blog";
}

<h2>@ViewData["Title"]</h2>
<p>
	<a href="~/@(BlogsController.ASPX)">Blogs</a>
</p>

<form action="~/@(BlogsController.ASPX)/@(nameof(BlogsController.Create))" method="post" role="form" class="row g-3">
	@Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-12">
        <label asp-for="Url" class="form-label"></label>
        <input asp-for="Url" class="form-control" type="url" placeholder="https://www.some-example.com/path"
            required pattern="@Blog.UrlRegexString" title="Provide valid URL." />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input type="submit" value="@(nameof(BlogsController.Create))" class="btn btn-primary" />
    </div>
</form>
