@model IEnumerable<DecoratedBlog>
@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@using DotnetPlayground.Controllers
@{
    ViewBag.Title = "Blogs";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a href="~/@(BlogsController.ASPX)/@(nameof(BlogsController.Create))">Create New</a>
</p>

<table class="table">
    <tr><th>Id</th><th>Url</th></tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BlogId)</td>
            <td>
                @await Html.PartialAsync("BlogPartial", item)
            </td>
        </tr>
    }
</table>

@section scripts
{
    <environment include="Development">
        <script type="text/javascript" src="~/js/Blogs.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Blogs.min.js"></script>
    </environment>
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function () {
            BlogsOnLoad();
        });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
