@model IEnumerable<DecoratedBlog>
@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@using DotnetPlayground.Controllers
@{
	ViewBag.Title = "Blogs";
}

<h2>@ViewData["Title"]</h2>
<p>
	<a href="~/@(BlogsController.ASPX)/@(nameof(BlogsController.Create))">Create New</a>
</p>

<table class="table">
	<tr><th>Id</th><th>Url</th></tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.BlogId)
			</td>
			<td>
				@await Html.PartialAsync("BlogPartial", item)
			</td>
		</tr>
	}
</table>

@section scripts
{
    <script type="text/javascript">
        window.addEventListener('load', function () {
			//$('.table form').validate({
			$.validator.setDefaults({
				debug: false,
				submitHandler: function (form, event) {
					FormSubmit(form); return false;
				}
			});
		});

		function FormSubmit(form) {
			let tr = $(form).parents('tr:first');
			const id = $(form).data('id');
			const url = $(form).find('#inp_' + id).val();
			const serialized_form = $(form).serialize();
			//const operation = $(form).find("input[type=submit]:focus").val();
			const operation = serialized_form.split('operation')[1].substr(1).trim();
			const delete_operation = '@(BlogActionEnum.Delete)';

			if (operation != delete_operation && (url == '' || url == tr.find('label.displaying').text()))
				return;

			const hedrs = { 'RequestVerificationToken': $(form).find('input[name="__RequestVerificationToken"]').val() }

			$.ajax({
				method: operation == delete_operation ? 'DELETE' : 'POST',
				url: 'Blogs/' + operation + '/' + id + '/true',
				dataType: 'json',
				data: serialized_form,
				headers: operation == delete_operation ? hedrs : null
			}).done(function (blog, textStatus, jqXHR) {
				if (blog == "error") {
					alert("error");
					return;
				}
				else if (blog == "deleted") {
					$(tr).remove();
					return;
				}

				let edit = $(form).find('.edit');
				edit.val(blog.url);
				let display = tr.find('label.displaying');
				display.text(blog.url);
			}).fail(function (jqXHR, textStatus, errorThrown) {
				alert("error: " + textStatus + " " + errorThrown);
			});
		}
    </script>
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
