@{
	ViewBag.Title = "Brute Force hashes";
}
<h1>Brute forcing hashes to plain text (with trivial strings)</h1>
<p id="pParagraph">Based on <a target="_blank" href="http://embed.plnkr.co/mnlQ6P">http://embed.plnkr.co/mnlQ6P</a></p>

<div class="form-row">
	<div class="form-group col-md-6">
		<label>Pass to be hashed and cracked - simulation</label>
		<input id="txtHash" type="text" placeholder="hash to crack" class="form-control" />
	</div>
	
	<div class="form-group col-md-6">
		<label>Alphabet</label>
		<input id="txtAlphabet" class="form-control" style="margin-bottom: 5px" value="abcdefghijklmnopqrstuvwxyz0123456789" />
	</div>

	<div class="form-group col-md-6">
		<label>Worker count&nbsp;</label>
		<select id="ddlWorkerCount" class="custom-select col-md-3">
			<option>1</option><option>2</option><option>4</option><option>8</option>
		</select>
		<label>Update rate (millisec)</label>
		<select id="ddlUpdateRate" class="custom-select col-md-3">
			<option>20</option><option>100</option><option>200</option><option>500</option>
		</select>
	</div>
</div>
<button type="button" id="btnCrack" class="btn btn-warning">Crack</button>

<div class="global-message" style="margin-top:1rem;margin-bottom:1rem"></div>
<div class="workers row"></div>

@section scripts
{
	@await Html.PartialAsync("_CryptoJSScriptsPartial")

	<environment names="Development">
		<script async src="~/js/workers/shared.js"></script>
		<script async src="~/js/workers/BruteForce.js"></script>
	</environment>

	<script type="text/javascript">
		let instance = null;

        window.addEventListener('load', function () {

			$("#btnCrack").on("click", function (e) {
				if(instance != null) {
					instance.clear();
					instance = null;
					$("#btnCrack").text('Crack');
					return;
				}

				const passToHash = $('#txtHash').val();
				const alphabet = $('#txtAlphabet').val();
				
				if (passToHash == null || passToHash == '' || alphabet == null || alphabet == '') {
					$('.global-message').text('nothing to decode');
					return;
				}
				$("#btnCrack").text('Cancel');

				const workerCount = $('#ddlWorkerCount').val();
				const updateRate = $('#ddlUpdateRate').val();

				const hashToCrack = hashExp(passToHash);
				instance = new BruteForce(document,
					workerCount,//worker count
					updateRate,
					alphabet,//alphabet from which to start crunching hashes
					hashToCrack,//hashToCrack
					passToHash.length,//pass characters length
					function(foundPass) {
						$("#btnCrack").text('Reset');
					}
				);
				instance.clear();
				instance.run();
			});
		});
	</script>
}
