@{
	ViewBag.Title = "Virtual Scroll of hashes";
}

<div id="toolbar">
	<button id="btninfo" class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">&#9432;&nbsp;Row info</button>
	&nbsp;&nbsp;<span id="spTimeToLoad"></span>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<table id="table"
		   data-unique-id="Key"
		   data-classes="table table-sm table-hover table-striped"
		   data-side-pagination="server"
		   data-url="Load"
		   data-pagination="true"
		   data-pagination-use-intermediate="true"
		   data-show-refresh="true"
		   data-search="true"
		   data-toolbar="#toolbar"
		   data-icons-prefix="fa"
		   data-page-size="50"
		   data-page-list="[50,500,2000,10000]"
		   data-virtual-scroll="true"
		   data-height="600"
		   >
		<thead>
			<tr>
				<th data-field="key" data-sortable="true" data-halign="center" data-align="center">Key</th>
				<th data-field="hashMD5" data-sortable="true">HashMD5</th>
				<th data-field="hashSHA256" data-sortable="true">HashSHA256</th>
				<th data-field="Validate" data-sortable="false" data-halign="center" data-align="center">Validate</th>
			</tr>
		</thead>
	</table>
</div>

@section headElements
{
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.19.1/bootstrap-table.min.css" integrity="sha512-Ulm5pOx2O8n6XDa0CY2S+GfOmV2R2SrvCpVmhjsxi4VmvcqB5JM5POLuePq496f9CkeAtvPpJlcjLRcTPk79iw==" crossorigin="anonymous" 
			asp-fallback-href="~/lib/bootstrap-table/bootstrap-table.min.css"
			asp-fallback-test-class="bootstrap-table fullscreen" asp-fallback-test-property="position" asp-fallback-test-value="fixed" />
	</environment>
}
@section scripts
{
	<environment include="Development">
		<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="~/js/VirtualScroll.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.19.1/bootstrap-table.min.js" integrity="sha512-SoNdA/8QMSSlEcJAXKdAALavPMfGJnoh/96Tosg3qxQhdktSAttyHT7ePJghxJNvLCeyJYtXcdrTgLvHHsbRcQ==" crossorigin="anonymous"
				asp-fallback-src="~/lib/bootstrap-table/bootstrap-table.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.bootstrapTable">
		</script>
		<script src="~/js/VirtualScroll.min.js"></script>
	</environment>

	@await Html.PartialAsync("_CryptoJSScriptsPartial")
}
