@{
	ViewBag.Title = "Virtual Scroll of hashes";
}

<div id="toolbar">
	<button id="btninfo" class="btn btn-secondary" type="button">&#9432;&nbsp;Row info</button>
	&nbsp;&nbsp;<span id="spTimeToLoad"></span>
</div>

<div class="container-fluid">
	<table id="table"
		   data-unique-id="Key"
		   data-classes="table table-sm table-hover table-striped"
		   data-side-pagination="server"
		   data-url="Load"
		   data-pagination="true"
		   data-pagination-use-intermediate="true"
		   data-sort-reset="true"
		   data-show-refresh="true"
		   data-search="true"
		   data-toolbar="#toolbar"
		   data-icons-prefix="fa"
		   data-page-size="50"
		   data-page-list="[50,500,2000,10000]"
		   data-virtual-scroll="true"
		   data-height="600"
		   >
		<thead>
			<tr>
				<th data-field="key" data-sortable="true" data-halign="center" data-align="center">Key</th>
				<th data-field="hashMD5" data-sortable="true">HashMD5</th>
				<th data-field="hashSHA256" data-sortable="true">HashSHA256</th>
				<th data-field="Validate" data-sortable="false" data-halign="center" data-align="center">
					<button class="btn btn-success fw-bold text-nowrap pe-3" title="ValidateAll" value="ValidateAll" onclick="clientValidateAll()">ALL ⇩</button>
				</th>
			</tr>
		</thead>
	</table>
</div>

@section headElements
{
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.23.1/bootstrap-table.min.css" integrity="sha512-gWZc5nxii+xjbl07blg0gJ0ifNhxdicYlD/ckJA2g2eubXGqTwhn/WmC9qiASkkh840ZTgduL0lI/YijYo4moQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
			asp-fallback-href="~/lib/bootstrap-table/bootstrap-table.min.css"
			asp-fallback-test-class="bootstrap-table fullscreen" asp-fallback-test-property="position" asp-fallback-test-value="fixed" />
	</environment>
}
@section scripts
{
	<environment include="Development">
		<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="~/js/VirtualScroll.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.23.1/bootstrap-table.min.js" integrity="sha512-yEWLfbfoEHcCfukw4rgzgG63ApKWxoLqfozDjPeCWF+6NhpJb2oTZmc9XV1tUwZlELmwcvGIGEhaUV/N1MfwDw==" crossorigin="anonymous" referrerpolicy="no-referrer"
				asp-fallback-src="~/lib/bootstrap-table/bootstrap-table.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.bootstrapTable">
		</script>
		<script src="~/js/VirtualScroll.min.js" asp-append-version="true"></script>
	</environment>

	@await Html.PartialAsync("_CryptoJSScriptsPartial")
}
