@{
	ViewBag.Title = "virtScrol.title";
}

<div id="toolbar">
	<button id="btninfo" class="btn btn-secondary" type="button">&#9432;&nbsp;<span data-i18n="virtScrol.rowInfo">Row info</span></button>
	&nbsp;&nbsp;<span id="spStatus"></span>
</div>

<div class="container-fluid">
	<table id="table"
		data-unique-id="Key"
		data-classes="table table-sm table-hover table-striped"
		data-side-pagination="server"
		data-url="Load"
		data-pagination="true"
		data-pagination-use-intermediate="true"
		data-sort-reset="true"
		data-show-refresh="true"
		data-search="true"
		data-toolbar="#toolbar"
		data-icons-prefix="fa"
		data-page-size="50"
		data-page-list="[50,500,2000,10000]"
		data-virtual-scroll="true"
		data-height="600"
		>
		<thead>
			<tr>
				<th data-field="key" data-sortable="true" data-halign="center" data-align="center"><span data-i18n="virtScrol.key">Key</span></th>
				<th data-field="hashMD5" data-sortable="true"><span data-i18n="virtScrol.hashMD5">HashMD5</span></th>
				<th data-field="hashSHA256" data-sortable="true"><span data-i18n="virtScrol.hashSHA256">HashSHA256</span></th>
				<th data-field="Validate" data-sortable="false" data-halign="center" data-align="center">
					<button class="btn btn-success fw-bold text-nowrap pe-3" title="Validate all" value="ValidateAll" onclick="clientValidateAll()" data-i18n="[title]virtScrol.validateAllTitle;virtScrol.validateAll">ALL ⇩</button>
				</th>
			</tr>
		</thead>
	</table>
</div>

@section headElements
{
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.26.0/dist/bootstrap-table.min.css" integrity="sha256-uLMa6GgXUJn6/gA5k+tW0UO/pDuSG3WuZk0x5FA5CV0=" crossorigin="anonymous" referrerpolicy="no-referrer"
			asp-fallback-href="~/lib/bootstrap-table/bootstrap-table.min.css"
			asp-fallback-test-class="bootstrap-table fullscreen" asp-fallback-test-property="position" asp-fallback-test-value="fixed" />
	</environment>
}
@section scripts
{
	<environment include="Development">
		<script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="~/js/VirtualScroll.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.26.0/dist/bootstrap-table.min.js" integrity="sha256-xabDwMgd2Y9OMtbGJbCymALBRoc3hN3xYBDv+sfY4OY=" crossorigin="anonymous" referrerpolicy="no-referrer"
				asp-fallback-src="~/lib/bootstrap-table/bootstrap-table.min.js"
				asp-fallback-test="$ && $.fn && $.fn.bootstrapTable">
		</script>
		<script src="~/js/VirtualScroll.min.js" asp-append-version="true"></script>
	</environment>

	@await Html.PartialAsync("_CryptoJSScriptsPartial")
}
