@inject  Microsoft.Extensions.Configuration.IConfiguration Conf
@{
	ViewData["Title"] = "Unintentional Error";
}
<h2>@ViewData["Title"].</h2>
<h3>something from something with something of something</h3>
@{
	object tmp_val;
	if (TempData.TryGetValue("itwas", out tmp_val))
	{
		<p>@tmp_val</p>
	}
}

<form action="~/Home/UnintentionalErr" method="post">
	<input type="submit" name="action" value="repost" />
	<input type="submit" name="action" value="exception" />
</form>

<div class="row">
	<div class="col-md-12">
		<h2>based on <a href="https://github.com/hishamco/jsLogger">jsLogger</a></h2>
		<p>Try to click the following buttons and keep your eyes on the default logger provider.</p>
		<p>
			<button class="btn" onclick="console.trace('This is a trace message.')">Log Trace</button>
			<button class="btn btn-default" onclick="console.debug('This is a debug message.')">Log Debug</button>
			<button class="btn btn-info" onclick="console.info('This is a information message.')">Log Information</button>
			<button class="btn btn-warning" onclick="console.warn('This is a warning message.')">Log Warning</button>
			<button class="btn btn-danger" onclick="console.error('This is a error message.')">Log Error</button>
		</p>
		<p>
			<button class="btn btn-danger" onclick="throw new Error('Unexpected Exception bum!!')">Throw Exception</button>
			@*@Html.AntiForgeryToken()*@
			<button class="btn" type="button" id="btnDelay" value="Delay" onclick="FireDelay()">Intentional Delay</button>
		</p>
	</div>
</div>

@section scripts
{
<script type="text/javascript">
	function FireDelay() {
		//var hedrs = { 'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }

		$.ajax({
			method: "GET", url: "@Conf.AppRootPath()Home/UnintentionalErr/delay",
			//headers: hedrs,
			//data: { "text": "test0", "ajax": true },
			timeout: 500,
			success: function (response)
			{
				alert("success: " + response);
			},
			error: function (x, t, m)
			{
				if (t === "timeout") {
					alert("got timeout");
				} else {
					alert(t);
				}
			}
		});
	}
</script>
}
