@{
    ViewData["Title"] = "View code generator";

    string strongVal = "<strong>blah</strong>";
}
<h2>Testing view code generator</h2>
<p>value = @Html.Raw(strongVal)</p>

<pre id="editor">
@ViewData["CompiledViewCode"]
</pre>

@section Scripts
{
    <environment include="Development">
        <script src="~/lib/ace-builds/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/lib/ace-builds/mode-csharp.js" type="text/javascript" charset="utf-8"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.min.js" integrity="sha512-VAJR/b+EHPEZGc6vc/ONKHTrGCGUQ1YcVD2QXcFLkmIoV4qNoTmIiK35zNftxDn8o2oW7f10z2d1QRLkwk853g==" crossorigin="anonymous"
                asp-fallback-src="~/lib/ace-builds/ace.js"
                asp-fallback-test="window.ace"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/mode-csharp.min.js" integrity="sha512-0MhQGz/4hBTonycHf67LtrmPMDxl44wTWsatYnU/39cbCwdjW/QqsF6fEKsVDjhcWcwd1L+yO84nudJZ7f5OJA==" crossorigin="anonymous"
                asp-fallback-src="~/lib/ace-builds/mode-csharp.js"
                asp-fallback-test="(window.ace && window.ace.require('ace/mode/csharp') !== undefined)"></script>
    </environment>
    <script type="text/javascript">
        function AceSetCommandEnabled(ed, name, enabled) {
            const command = ed.commands.byName[name];
            if (!command.bindKeyOriginal)
                command.bindKeyOriginal = command.bindKey;
            command.bindKey = enabled ? command.bindKeyOriginal : null;
            ed.commands.addCommand(command);
            // special case for backspace and delete which will be called from
            // textarea if not handled by main commandb binding
            if (!enabled) {
                let key = command.bindKeyOriginal;
                if (key && typeof key === "object")
                    key = key[ed.commands.platform];
                if (/backspace|delete/i.test(key))
                    ed.commands.bindKey(key, "null")
            }
        }

        window.addEventListener('load', function () {
            if (window.ace && ace) {
                const editor = ace.edit("editor", {
                    maxLines: 30,
                    wrap: true,
                    showPrintMargin: false,
                    autoScrollEditorIntoView: true
                });
                const csharp = ace.require("ace/mode/csharp");
                if (csharp) {
                    const csharpMode = csharp.Mode;
                    editor.session.setMode(new csharpMode());
                }
                else
                    console.log('ace csharpMode not loaded!');
                //editor.setOption("readOnly", true);

                editor.on('focus', function () {
                    AceSetCommandEnabled(editor, "indent", true);
                    AceSetCommandEnabled(editor, "outdent", true);
                });
                editor.commands.addCommand({
                    name: "escape",
                    bindKey: { win: "Esc", mac: "Esc" },
                    exec: function () {
                        AceSetCommandEnabled(editor, "indent", false);
                        AceSetCommandEnabled(editor, "outdent", false);
                    }
                });
            }
            else
                console.log('no ace loaded!');
        });
    </script>
}
