@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@{
	string strongVal = "<strong>blah</strong>";
}

<p>Testing code generator</p>
<p>value = @Html.Raw(strongVal)</p>

<pre id="preContent">
@ViewData["CompiledViewCode"]
</pre>
