[submodule "Caching-MySQL"]
	path = Caching-MySQL
	url = https://github.com/ChaosEngine/Caching-MySQL.git
[submodule "InkBall"]
	path = InkBall
	url = https://github.com/ChaosEngine/InkBall.git
[submodule "IdentityManager2"]
	path = IdentityManager2
	url = https://github.com/ChaosEngine/IdentityManager2.git
