@page
@model DownloadPersonalDataModel
@{
	ViewData["Title"] = "downloadPersonalData.title";
	ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 data-i18n="downloadPersonalData.title">@ViewData["Title"]</h4>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}