@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "accessDenied.title";
}

<header>
    <h1 class="text-danger" data-i18n="accessDenied.title">@ViewData["Title"]</h1>
    <p class="text-danger" data-i18n="accessDenied.description">You do not have access to this resource.</p>
</header>
