@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "confirmEmail.title";
}

<h1 data-i18n="confirmEmail.title">@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
