@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "forgotPasswordConfirmation.title";
}

<h1 data-i18n="forgotPasswordConfirmation.title">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
