@page
@model LockoutModel
@{
    ViewData["Title"] = "lockout.title";
}

<header>
    <h1 class="text-danger" data-i18n="lockout.title">@ViewData["Title"]</h1>
    <p class="text-danger" data-i18n="lockout.description">This account has been locked out, please try again later.</p>
</header>
