@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<form method="post" asp-route-returnUrl="@Model.ReturnUrl" class="row g-3">
    <input asp-for="RememberMe" type="hidden" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-12">
        <label asp-for="Input.TwoFactorCode" class="form-label"></label>
        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input asp-for="Input.RememberMachine" class="form-check-input" />
            <label asp-for="Input.RememberMachine" class="form-check-label">
                @Html.DisplayNameFor(m => m.Input.RememberMachine)
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-secondary col-sm-3">Log in</button>
    </div>
</form>
<p class="my-2">
    Don't have access to your authenticator device? You can
    <a id="recovery-code-login" href="LoginWithRecoveryCode?returnUrl=@Model.ReturnUrl">log in with a recovery code</a>.
</p>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}