@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    You have requested to log in with a recovery code. This login will not be remembered until you provide
    an authenticator app code at log in or disable 2FA and log in again.
</p>
<form method="post" class="row g-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-12">
        <label asp-for="Input.RecoveryCode" class="form-label"></label>
        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-secondary col-sm-2">Log in</button>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}