@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "resetPasswordConfirmation.title";
}

<h1 data-i18n="resetPasswordConfirmation.title">@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a href="~/Identity/Account/Login">click here to log in</a>.
</p>
