@{
    ViewData["Title"] = "Contact";
}
<h2>Contact.</h2>

<h4>@Html.Raw(ViewData["Message"])</h4>

<address>
    <span id="spStreetName">Model.Address.StreetName()</span><br />
    <span id="spCity">Model.Address.City()</span>, <span id="spState">Model.Address.StateAbbr()</span> <span id="spZipCode">Model.Address.ZipCode()</span><br />
    <abbr title="Phone">P:</abbr>
    <span id="spPhone">Model.Phone.PhoneNumber()</span>
</address>
<address>
    <strong>Support:</strong> <a id="aEmail0" href="#">email0</a>
</address>
<address>
    <strong>Marketing:</strong> <a id="aEmail1" href="#">email1</a>
</address>

@section Scripts
{
<environment include="Development">
    <script src="~/lib/faker/faker.min.js" type="text/javascript"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdn.jsdelivr.net/npm/faker@5.5.1/dist/faker.min.js" integrity="sha256-vQcsGejZxgnw/7Wr0jEi/DSnHy8uCJb4nWV9jv0eiBQ=" crossorigin="anonymous"
            asp-fallback-src="~/lib/faker/faker.min.js"
            asp-fallback-test="window.faker"></script>
</environment>
<script type="text/javascript">
    window.addEventListener('load', function () {
        document.getElementById('spStreetName').innerText = faker.address.streetName();
        document.getElementById('spCity').innerText = faker.address.city();
        document.getElementById('spState').innerText = faker.address.stateAbbr();
        document.getElementById('spZipCode').innerText = faker.address.zipCode();
        document.getElementById('spPhone').innerText = faker.phone.phoneNumber();
        const email0 = document.getElementById('aEmail0');
        email0.innerText = faker.internet.exampleEmail();
        email0.setAttribute('href', "mailto:" + email0.innerText);
        const email1 = document.getElementById('aEmail1');
        email1.innerText = faker.internet.exampleEmail();
        email1.setAttribute('href', "mailto:" + email1.innerText);
    });
</script>
}