@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@{
	ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000" data-bs-pause="hover">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="~/images/banner1.svg" alt="timelapse Webcam Gallery" width="930px" height="294px" class="img-fluid" />
			<div class="carousel-caption d-none d-md-block">
				<h5>
					Timelapse WebCam Gallery executed every 10 minutes recorded daily and annually
					<a class="btn btn-primary" href="WebCamGallery">
						Learn More
					</a>
				</h5>
			</div>
		</div>
		<div class="carousel-item">
			<img src="~/images/banner2.svg" alt="Hashes" width="930px" height="294px" class="img-fluid" />
			<div class="carousel-caption d-none d-md-block">
				<h5>
					Simple rainbow tables proof of concept, with hash verification and bruteforce example
					<a class="btn btn-primary" href="Hashes/">
						See More
					</a>
				</h5>
			</div>
		</div>
		<div class="carousel-item">
			<img src="~/images/banner3.svg" alt="Inkball game" width="930px" height="294px" class="img-fluid" />
			<div class="carousel-caption d-none d-md-block">
				<h5>
					Inkball game - old-school paper game brought to HTML5
					<a class="btn btn-primary" href="InkBall/Home">
						Learn More
					</a>
				</h5>
			</div>
		</div>
		<div class="carousel-item">
			<img src="~/images/banner4.svg" alt="Extensible approach" width="930px" height="294px" class="img-fluid" />
			<div class="carousel-caption d-none d-md-block">
				<h5>
					Extensible modularized approach combining best practices of C# dotnet and JavaScript, HTML5 modern design
					<a class="btn btn-primary" target="_blank" href="https://github.com/ChaosEngine/Dotnet-Playground">
						See repository
					</a>
				</h5>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="row">
	<div class="col-auto">
		<h2>Links</h2>
		<ul>
			<li><a href="~/InkBall/Home">InkBall game</a></li>
			<li><a href="~/Home/UnintentionalErr/">Unintentional Error</a></li>
			<environment names="Development">
				<li><a href="~/ViewCodeGenerator/">View-Code Generator</a></li>
			</environment>
			<li><a href="~/WebCamGallery">WebCam Gallery</a></li>
			@if ((await AuthorizationService.AuthorizeAsync(User, null, IdentityManager2.IdentityManagerConstants.IdMgrAuthPolicy)).Succeeded)
			{
				<li><a href="~/idm/">Identity Manager 2</a></li>
			}
		</ul>
	</div>
</div>
