@{
	ViewBag.Title = "Brute Force hashes";
}
@section headElements
{
	<style type="text/css">
		.workers .worker {
			opacity: 1;
			transition: opacity 0.3s ease-out;
		}
		.workers .worker.found .title {
			background-color: rgba(0, 114, 0, 0.5);
		}
		.workers .worker.done:not(.found) {
			opacity: 0.4;
		}
		.workers .worker.done:not(.found) .title {
			background-color: rgba(110, 6, 6, 0.5);
		}
		.workers .worker .title {
			background-color: rgba(80, 0, 0, 0.5);
			color: rgba(255, 255, 255, 0.9);
			transition: background 0.3s ease-out;
		}
	</style>
}
<h1>Brute forcing hashes to plain text (with trivial strings)</h1>
<p id="pParagraph">Based on <a target="_blank" href="http://embed.plnkr.co/mnlQ6P">http://embed.plnkr.co/mnlQ6P</a></p>

<div class="form-row">
	<div class="form-group col-md-6">
		<label>Pass to be hashed and cracked - simulation</label>
		<input id="txtHash" type="text" placeholder="hash to crack" class="form-control" />
	</div>
	
	<div class="form-group col-md-6">
		<label>Alphabet</label>
		<input id="txtAlphabet" class="form-control" style="margin-bottom: 5px" value="abcdefghijklmnopqrstuvwxyz0123456789" />
	</div>

	<div class="form-group col-md-6">
		<label>Worker count&nbsp;</label>
		<select id="ddlWorkerCount" class="custom-select col-md-3">
			<option>1</option><option>2</option><option>4</option><option>8</option>
		</select>
		<label>Update rate (millisec)</label>
		<select id="ddlUpdateRate" class="custom-select col-md-3">
			<option>20</option><option>100</option><option>200</option><option>500</option>
		</select>
	</div>
</div>
<button type="button" id="btnCrack" class="btn btn-warning">Crack</button>

<div class="global-message" style="margin-top:1rem;margin-bottom:1rem"></div>
<div class="workers row"></div>

@section scripts
{
	@await Html.PartialAsync("_CryptoJSScriptsPartial")

	<environment names="Development">
		<script src="~/js/workers/shared.js"></script>
		<script src="~/js/workers/main.js"></script>
	</environment>

	<script type="text/javascript">
		var instance = null;

		$(document).ready(function () {

			$("#btnCrack").on("click", function (e) {
				if(instance != null) {
					instance.clear();
					instance = null;
					$("#btnCrack").text('Crack');
					return;
				}

				var passToHash = $('#txtHash').val();
				var alphabet = $('#txtAlphabet').val();
				
				if (passToHash == null || passToHash == '' || alphabet == null || alphabet == '') {
					$('.global-message').text('nothing to decode');
					return;
				}
				$("#btnCrack").text('Cancel');

				var workerCount = $('#ddlWorkerCount').val();
				var updateRate = $('#ddlUpdateRate').val();

				var hashToCrack = hashExp(passToHash);
				instance = new BruteForce(window, document,
					'.workers',//element into which display content
					libs2Load,
					workerCount,//worker count
					updateRate,
					alphabet,//alphabet from which to start crunching hashes
					hashToCrack,//hashToCrack
					passToHash.length,//pass characters length
					function(foundPass){
						$("#btnCrack").text('Reset');
					}
				);
				instance.clear();
				instance.run();
			});
		});
	</script>
}
