@charset "UTF-8";
html,
body {
  height: 100vh;
}

body {
  position: relative;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: rgb(33, 37, 41);
  }
  .fixed-table-loading {
    color: white !important;
    background-color: rgb(33, 37, 41) !important;
  }
  .card {
    --bs-bg-opacity: 1;
    background-color: rgb(39, 49, 59) !important;
  }
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-top: 4.5rem;
}

/* overriding Bootstrap-5 underlined links and others */
a {
  text-decoration: none;
}

a[href]:hover:not([role=button]):not([role=tab]):not(.btn):not(.dropdown-item):not(.page-link) {
  text-decoration: underline;
}

.validation-summary-valid {
  display: none;
}

/* Make .svg files in the carousel display properly in older browsers: https://getbootstrap.com/docs/4.6/content/images/#responsive-images */
.carousel-inner .carousel-item img[src$=".svg"] {
  width: 100%;
}

main.container > hr {
  margin: 0.5rem 0;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/*My custom styling*/
/*.bg-dark-development {
	background-color: darkslateblue;
}
.bg-dark-production {
	background-color: darkred;
}*/
.bg-my-theme {
  background-color: darkslateblue; /*$themeColor is an injectted variable on gulp build pipeline by gulp-sass, gulp-header */
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

#offlineIndicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  color: white;
  display: none;
}

footer.container > noscript {
  color: red;
}

#spVersion::after {
  content: ", Debug: xx.yy.zz-ssss";
}

/***************VirtualScroll start***************/
.bootstrap-table button.btn .bi-arrow-clockwise:after {
  content: "↻";
  display: block;
  font-style: normal;
  font-weight: bold;
}
.bootstrap-table table tr.highlight {
  border-top: groove;
  border-bottom: groove;
}

/***************WebCamGallery start*************/
#gallery-tab #links a {
  text-decoration: none;
}
#gallery-tab #links a img {
  width: 133px;
  height: 100px;
}
#gallery-tab #links a img:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#video-tab .vjs-default-skin .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin: -1em auto auto -2em;
  width: 80px;
  height: 50px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .video-js-box {
    width: 1280px !important;
    height: 960px !important;
  }
  #live.img-fluid {
    max-width: 1280px !important;
  }
}
/***************BruteForce start*************/
.workers .worker {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.workers .worker.found .title {
  background-color: rgba(0, 114, 0, 0.5);
}
.workers .worker.failed .title {
  background-color: lightgray;
}
.workers .worker .done:not(.found) {
  opacity: 0.4;
}
.workers .worker .done:not(.found) .title {
  background-color: rgba(110, 6, 6, 0.5);
}
.workers .worker .title {
  background-color: rgba(80, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  transition: background 0.3s ease-out;
}

/***************Puzzles start*************/
.puzzles input[type=radio]:checked + label > img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
.puzzles input[type=radio] + label > img {
  border: 1px dashed #444;
  transition: 500ms all;
}

.puzzles input[type=radio]:checked + label > img {
  transform: rotateZ(-10deg);
}

.puzzles .target {
  --bimg: url("../images/puzzles/fond-puzzle.svg");
  --trans: scale(2) rotateZ(180deg);
  position: relative;
  overflow: hidden;
  font-size: 2em;
  border: 4px solid rgb(55, 230, 192);
  border-radius: 7px;
  min-height: 32rem;
}

.puzzles .target::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: var(--bimg) repeat;
  transform: var(--trans);
}

.puzzles .target::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: var(--uploadedImg);
}