@charset "UTF-8";
@use "../../../InkBall/src/InkBall.Module/IBwwwroot/css/svg-url.scss";

html,
body {
	height: 100vh;
}

body {
	position: relative;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: rgb(33, 37, 41);
    }
	// More styles (colors-only)
	.form-select, .form-control, .accordion-item, .accordion-button, .fixed-table-loading {
        color: white !important;
		//same as above main dark background
        background-color: rgb(33, 37, 41) !important;
	}
	.card {
		// --bs-bg-opacity: 1;
		//slightly darker
		background-color: rgb(39, 49, 59) !important;
	}
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-top: 4.5rem;
}

/* overriding Bootstrap-5 underlined links and others */
a {
	text-decoration: none;

	&[href] {
		&:hover {
			&:not([role="button"]) {
				&:not([role="tab"]) {
					&:not(.btn) {
						&:not(.dropdown-item) {
							&:not(.page-link) {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
// .btn {
// 	&:hover {
// 		text-decoration: none;
// 	}
// }
.validation-summary-valid {
	display: none;
}

// /* Carousel */
// .carousel-caption p {
// 	font-size: 20px;
// 	line-height: 1.4;
// }

/* Make .svg files in the carousel display properly in older browsers: https://getbootstrap.com/docs/4.6/content/images/#responsive-images */
.carousel-inner .carousel-item img[src$=".svg"] {
	width: 100%;
}

main.container > hr {
	margin: 0.5rem 0;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

// /* Hide/rearrange for smaller screens */
// @media screen and (max-width: 767px) {
// 	// Hide captions
// 	.carousel-caption {
// 		display: none;
// 	}
// }

/*My custom styling*/
/*.bg-dark-development {
	background-color: darkslateblue;
}
.bg-dark-production {
	background-color: darkred;
}*/

.bg-my-theme {
	background-color: $themeColor; /* injected variable on gulp build pipeline by gulp-replace */
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

.nav-link {
	
	&.show {
		background-color: gray;
	}

	&:focus-visible, &:hover {
		// box-shadow: 0 0 0 0.125rem #fff;
		outline-offset: 1px;
		outline: 0.8px auto rgb(16, 16, 16);
	}
}

#offlineIndicator {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
	color: white;
	display: none;
}

footer.container > noscript {
	color: red
}

#spVersion::after {
	content: $projectVersion; /* injected variable on gulp build pipeline by gulp-replace */
}

// Language selector and flags
#langDropdown {

	& button[title='en'] > img,
	& img[title='en'] {
		content: svg-url.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480"><path fill="#012169" d="M0 0h640v480H0z"/><path fill="#FFF" d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0z"/><path fill="#C8102E" d="m424 281 216 159v40L369 281zm-184 20 6 35L54 480H0zM640 0v3L391 191l2-44L590 0zM0 0l239 176h-60L0 42z"/><path fill="#FFF" d="M241 0v480h160V0zM0 160v160h640V160z"/><path fill="#C8102E" d="M0 193v96h640v-96zM273 0v480h96V0z"/></svg>');
		display: inline-block;
		/* background-repeat: no-repeat;
		background-position: center; */
		width: 2em;
		height: 1em;
	}

	& button[title='pl'] > img,
	& img[title='pl'] {
		content: svg-url.svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5"><rect width="8" height="5" fill="red"/><rect width="8" height="2.5" fill="#fff"/></svg>');
		display: inline-block;
		/* background-repeat: no-repeat;
		background-position: center; */
		width: 2em;
		height: 1em;
	}
	
}

/***************VirtualScroll start***************/
.bootstrap-table {
	button.btn .fa-sync:after {
		content: '↻';
		display: block;
		font-style: normal;
		// font-weight: bold;
	}

	table tr.highlight {
		border-top: groove;
		border-bottom: groove;
	}
}

/***************WebCamGallery start*************/
#gallery-tab #links a {
	text-decoration: none;

	img {
		width: 133px;
		height: 100px;

		&:hover {
			transform: scale(1.2, 1.2);
			box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
		}
	}
}

#video-tab .vjs-default-skin .vjs-big-play-button {
	top: 50%;
	left: 50%;
	margin: -1em auto auto -2em;
	width: 80px;
	height: 50px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.video-js-box {
		width: 1280px !important;
		height: 960px !important;
	}

	#live.img-fluid {
		max-width: 1280px !important;
	}
}
/***************BruteForce start*************/
.workers .worker {
	&.found .title {
		background-color: rgba(0, 114, 0, 0.5);
	}

	&.failed .title {
		background-color: lightgray;
	}

	& {
		opacity: 1;
		transition: opacity 0.3s ease-out;
	}

	.done:not(.found) {
		opacity: 0.4;
	}

	.done:not(.found) .title {
		background-color: rgba(110, 6, 6, 0.5);
	}

	.title {
		background-color: rgba(80, 0, 0, 0.5);
		color: rgba(255, 255, 255, 0.9);
		transition: background 0.3s ease-out;
	}
}
/***************Puzzles start*************/
// taken from https://codepen.io/cihaneken/pen/oMQVgv

// hide radios dots
// .puzzles .input-hidden {
// 	position: absolute;
// 	left: -9999px;
// }
.puzzles {

	input[type=radio] {
		&:checked + label > img {
			border: 1px solid #fff;
			box-shadow: 0 0 3px 3px #090;
			transform: rotateZ(-10deg);
		}

		& + label > img {
			/* Stuff after this is only to make things more pretty */
			border: 1px dashed #444;
			transition: 500ms all;
		}
	}

	//https://www.sitepoint.com/css3-transform-background-image/
	//https://christianheilmann.com/2021/02/08/sharing-data-between-css-and-javascript-using-custom-properties/
	.target
	{
		--bimg: url('../images/puzzles/fond-puzzle.svg');
		--trans: scale(2) rotateZ(180deg);

		position: relative;
		overflow: hidden;
		font-size: 2em;
		border: 4px solid rgb(55, 230, 192);
		border-radius: 7px;
		min-height: 32rem;

		&::before
		{
			content: "";
			position: absolute;
			width: 200%;
			height: 200%;
			top: -50%;
			left: -50%;
			z-index: -1;

			background: var(--bimg) repeat;
			transform: var(--trans);
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -2;
			background-image: var(--uploadedImg);
		}
	}
}
/***************Preferences/Profile start*************/
//rainbow-like border
#profile-form fieldset {
	border: 4px solid transparent;
	border-image: 16 repeating-linear-gradient(90deg, blue, red 25%);
}

/***social login svg icons***/
.registered-logins td, #external-account button {
	background-repeat: no-repeat;
  	// background-size: contain;
	border:none;
	width:80px; height:72px
}

.warn-icon::before {
	background-image: svg-url.svg-url("<svg xmlns='http://www.w3.org/2000/svg' fill='#664d03' viewBox='0 0 16 16'><style>@media(prefers-color-scheme:dark){path{fill:#ffda6a}}</style><path d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/></svg>");
	background-repeat: no-repeat;
	content: "";
	width: 24px;
	height: 24px;
	padding-right: 2rem !important;
  }
/***************Error handler page start***************/
/*
Http status codes:
 - Client error responses (400 – 499)
 - Server error responses (500 – 599)
*/
.error > h1
.s-400, .s-401, .s-402, .s-403, .s-404, .s-405, .s-406, .s-407, .s-408, .s-409, .s-410, .s-411, .s-412, .s-413, .s-414, .s-415, .s-416, .s-417, .s-418, .s-421, .s-422, .s-423, .s-424, .s-425, .s-426, .s-428, .s-429, .s-431, .s-451 {
	color: orange;
}
.error > h1
.s-500, .s-501, .s-502, .s-503, .s-504, .s-505, .s-506, .s-507, .s-508, .s-510, .s-511 {
	color: red;
	animation: blinkMe 1s linear infinite;
}
@keyframes blinkMe {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}
