@page
@using AspNetCore.ExistingDb.Helpers
@inject MySignInManager SignInManager
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@if (!SignInManager.IsSignedIn(User))
{
<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application. Click <a href="~/Identity/Account/Login">here</a> to log in again.</p>
</header>
}
else
{
<header>
    <h1>@ViewData["Title"]</h1>

    <form action="~/Identity/Account/Logout" method="post">
        <p>
            You can log out here
            <button type="submit" class="btn btn-primary">Logout</button>
        </p>
    </form>
</header>    
}
