@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application. Click <a href="~/Identity/Account/Login">here</a> to log in again.</p>
</header>
