@model int
@{
	ViewData["Title"] = "error.title";
}

<div class="error">
	<h1 class="display-5 fw-bold"><span data-i18n="error.title">Error</span> <span class="s-@Model">@Model</span></h1>
	<h3></h3>
</div>

<script type="text/javascript">
window.addEventListener('load', () => {
	if (window.registerLocalizationOnReady && Array.isArray(window.registerLocalizationOnReady)) {
		window.registerLocalizationOnReady.push(() => {
			const key = i18next.exists('error.@Model') ? 'error.@Model' : 'error.unknown';
			document.querySelector('.error h3').setAttribute('data-i18n', key);
		});
	}
});
</script>