html,
body {
	height: 100vh;
}

body {
	position: relative;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-top: 4.5rem;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}


/*My custom styling*/
.bg-dark-development {
	background-color: darkslateblue;
}

.bg-dark-production {
	background-color: darkred;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

#offlineIndicator {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: -1;
	overflow: hidden;
	color: white;
	display: none;
}

/*Hashes and VirtualScroll*/
.bootstrap-table button.btn .fa-sync:after {
	content: '↻';
	display: block;
	font-style: normal;
	font-weight: bold;
}

.bootstrap-table table tr.highlight {
	border-top: groove;
	border-bottom: groove;
}
