@page
@model DotnetPlayground.Pages.PuzzleGeneratorModel
@{
	Layout = @"..\Views\Shared\_Layout.cshtml";
	ViewData["Title"] = "Puzzle Generator";
}

<div class="puzzles">


	<h1>Puzzle Generator</h1>
	<h3>Combine PNG/JPG/AVIF image with SVG puzzle pattern. Apply scaling, rotation, transform design to fit your needs.</h3>

	<form method="post">
		<div class="form-group row">
			<div class="custom-control custom-radio custom-control-inline col">
				<input class="custom-control-input input-hidden" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked />
				<label class="custom-control-label w-100" for="inlineRadio1">fond puzzle
					<img src="~/images/puzzles/fond-puzzle.svg" alt="fond puzzle" class="img-fluid mt-2" />
				</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline col">
				<input class="custom-control-input input-hidden" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
				<label class="custom-control-label w-100" for="inlineRadio2">Jigsaw Puzzle Pieces
					<img src="~/images/puzzles/Jigsaw-Puzzle-Pieces.svg" alt="Jigsaw Puzzle Pieces" class="img-fluid mt-2" />
				</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline col">
				<input class="custom-control-input input-hidden" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
				<label class="custom-control-label w-100" for="inlineRadio3">10x14
					<img src="~/images/puzzles/jigsaw10x14.svg" alt="10x14" class="img-fluid mt-2" />
				</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline col">
				<input class="custom-control-input input-hidden" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" />
				<label class="custom-control-label w-100" for="inlineRadio4">puzzle
					<img src="~/images/puzzles/puzzle.svg" alt="puzzle" class="img-fluid mt-2" />
				</label>
			</div>
		</div>

		<div class="form-group row">
			<div class="custom-file">
				<input type="file" name="file" class="custom-file-input" id="customFile" />
				<label class="custom-file-label" for="customFile">Choose file</label>
			</div>
		</div>

		<div class="form-group">
			<label for="rangeSize">Size 200</label>
			<input type="range" class="custom-range" id="rangeSize" min="0" max="420" step="20" value="200" />
			<label for="rotation">Rotation 180</label>
			<input type="range" class="custom-range" id="rotation" min="0" max="360" step="10" value="180" />
		</div>

		<div class="form-group row">
			<input type="submit" value="Submit" class="btn btn-primary" />
		</div>
	</form>

	<div class="target w-100">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum nunc aliquet bibendum enim. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Mollis nunc sed id semper risus in hendrerit gravida rutrum. Adipiscing vitae proin sagittis nisl. Viverra nam libero justo laoreet sit amet cursus sit. Sodales ut eu sem integer.
	</div>
</div>

@section scripts
{
	<environment include="Development">
		<script type="text/javascript" src="~/js/Puzzles.js"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/Puzzles.min.js"></script>
	</environment>
	<script type="text/javascript">
		window.addEventListener('load', function () {
			PuzzlesOnLoad();
		});
	</script>
}
