@using IdentitySample.DefaultUI.Data
@using AspNetCore.ExistingDb.Helpers
@using Microsoft.AspNetCore.Identity

@inject MySignInManager SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(User);

            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello @user.Name!</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="~/Identity/Account/Manage/Index" title="Manage">Manage profile</a>
                <form action="~/Identity/Account/Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-link dropdown-item text-warning">Logout</button>
                </form>
            </div>
        }
        else
        {
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="~/Identity/Account/Register">Register</a>
                <a class="dropdown-item" href="~/Identity/Account/Login">Login</a>
            </div>
        }
    </li>
</ul>
