@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right"
        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn nav-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <div class="navbar-right">
        <ul class="navbar-nav mr-auto navbar-right">
            <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
            <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        </ul>
    </div>
}